body {
  margin: 0;
}

/* .logo__title { */
/*   padding-left: 0 !important; */
/* } */

.navigation {
  line-height: 40px;
  height: 40px;
  background: #E04E39;
  color:white;
  font-family: Titillium Web,sans-serif;
  padding: 4px;
  text-align: center;
}

/*
.navigation__link {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: Titillium Web,sans-serif;
  padding: 0 6px 0 6px;
  height: 40px;
  display: inline-block;
}
.navigation__link.active {
  background: #e46b5b;
}

.header {
  background: #666;
  color: white;
  padding: 14px;
  color: rgb(240, 125, 54);
  display: flex;
  justify-content: space-between;
}

.header__image {
  height: 25px;
}

.header__button {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 0.9em;
  color: white;
  background-color: rgb(137, 137, 137);
  border-radius: 4px;
  border: 0;
}

.header__button:hover {
  background-color: rgb(157, 157, 157);
  cursor: pointer;
}
*/
